*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/fond.png"); /* Penser à mettre dark mode du fond */
}

iframe {
    height: 100%;
    width: 100%;
}

#ds {
    height: 100vh;
    width: 100vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#top {
    height: 40.3vh;
    width: 71vh;
    background-color: #063970;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
}

#top #screenOutline {
    height: 30vh;
    width: 50vh;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
}

#top #screen {
    height: 27.5vh;
    width: 47.5vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


#mid {
    height: 2.5vh;
    width: 71vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#mid div {
    height: 175%;
    width: 100%;
    border-radius: 100vh;
    background: #000;
}

#bot {
    height: 40.3vh;
    width: 71vh;
    background-color: #063970;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
}

#bot #assets {
    position: absolute;
    height: 40.3vh;
    width: 71vh;
    display: flex;
    align-items: center;
}

#bot #assets #left {
    width: 20.25vh;
    height: 100%;
    display: flex;
    justify-content: space-evenly; /*Réparti également l'espace entre les enfants d'un élément*/
    align-items: center;
    flex-direction: column;
}

#bot #assets #cross {
    display: flex;
    align-items: center;
    justify-content: center;
}

#midCross {
    height: 3vh;
    width: 3vh;
    background-color: #e5e5e5;
}

/*Mettre ombre force bg*/
#cross .assets {
    height: 3vh;
    width: 3vh;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#cross .assets:hover {
    background: #d0d0d0;
}

#cross .verticalLine {
    height: 50%;
    width: 7.5%;
    background: #000000;
    border-radius: 100vh;
}

#cross .horizontalLine {
    height: 7.5%;
    width: 50%;
    background: #000000;
    border-radius: 100vh;
}

#bot #assets #left #stick {
    height: 7.5vh;
    width: 7.5vh;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    box-shadow: 0 0.5vh 1vh #000000;
    border-radius: 100vh;
}

#bot #assets #right {
    width: 20.25vh;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bot #assets #buttons {
    position: relative;
    height: 12vh;
    width: 12vh;
    align-items: center;
    justify-content: center;
}

#bot #assets #buttons button {
    position: absolute;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 1.5vh;
    box-shadow: 0 0.3vh 0.5vh rgba(0, 0, 0, 0.3);
}


#bot #assets #buttons button:hover {
    filter: brightness(0.95);
}


#bot #assets #buttons #btnX {
    background-color: #bdbaba;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#bot #assets #buttons #btnY {
    background-color: #bdbaba;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#bot #assets #buttons #btnB {
    background-color: #bdbaba;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#bot #assets #buttons #btnA {
    background-color: #bdbaba;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#bot #screenOutline {
    height: 25.5vh;
    width: 33vh;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
}

#bot #screen {
    height: 23vh;
    width: 30.5vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#bot #top_bar {
    height: 3vh;
    background-color: #ffff;
    border-bottom: 0.25vh solid #d0d0d0;
    display: flex;
    font-weight: bold;
    align-items: center;
}

#bot #top_bar p {
    margin: auto;
    color: #a0a0a0;
    font-weight: lighter;
}

#bot #top_bar #icons {
    position: absolute;
    margin-left: 0.75vh;
    display: flex;
}

#bot #top_bar #icons a {
    margin-right: 0.5vh;
    display: flex;
    justify-content: center;
    height: 2vh;
    width: 2vh;
}

#bot #bot_bar {
    height: 4vh;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
    border-top: 0.25vh solid #a0a0a0;
}

#bot #bot_bar a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2vh;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 0.5% 12.5% 0.5% 12.5%;
    border-radius: 3vh;
    border: 0.25vh solid #a0a0a0;
    z-index: 1;
}

#bot #bot_bar a:hover {
    background-color: #f0f0f0;
}

#bot #main_bar {
    position: relative;
    display: flex;
    height: 10vh;
    margin-top: auto;
    align-items: center;
}

#bot #main_bar ul {
    transition: all 0.3s;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
}

#bot #main_bar ul li {
    list-style: none;
    display: flex;
}

#bot #main_bar .app:first-child {
    border: 0.5vh solid aqua;
}

#bot #main_bar .app {
    display: flex;
    height: 8vh;
    width: 8vh;
    margin: auto 1.5vh auto 1.5vh;
    border-radius: 2vh;
    border: 0.25vh solid #d0d0d0;
    background-color: #ffffff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 1vh;  
}

#bot #main_bar .app img {
    width: 100;
    height: 100%;
    object-fit: contain;
}